<div>
<table class="table is-striped">
  <thead>  
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>City</th>
      <th>Country</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <%if @guides%>
      <% @guides.each do |i| %>
        <tr>
          <td><%=link_to i.name, guide_path(i) %></td>
          <td><%= i.phone_number%></td>
          <td><%= i.city%></td>
          <td><%= i.country%></td>
          <td>$<%= i.cost%>/hour</td>
        </tr>
      <%end%>
    <%end%>
  </tbody>
 </table>
 <%= button_to 'Join as a Guide', new_guide_path, :method => :get, :class => 'button is-primary'%>
 <br> 
 <%= button_to 'Join as a Traveller', new_traveller_path, :method => :get, :class => 'button is-primary' %> 
</div>
