<%= form_with model: @traveller, local:true do |form| %>
    <p>
        <%=label(:name, 'Name')%>
        <%= form.text_field :name, required: true, minlength: 1%>
    </p>
    <p>
        <%=label(:phone_number, 'Phone Number')%>
        <%= form.text_field :phone_number, required: true%>
    </p>
    <%= form.submit "Add details" %><br>
    <%= link_to("Back", main_index_path, :method => :get) %>
<%end%>