<h1 class='title is-1'><%=@guide.name%></h1>

<table class="table is-hoverable">
  <tbody>
    <tr>
      <th>Phone Number</th>
      <td><%= "#{@guide.phone_number}" %></td>
    </tr>
    <tr>
      <th>City</th>
      <td><%= "#{@guide.city}" %></td>
    </tr>
    <tr>
      <th>Country</th>
      <td><%= "#{@guide.country}" %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><%= "$#{@guide.cost}" %></td>
    </tr>
  </tbody>
</table>
<p><%= link_to "Book", new_guide_booking_path(guide_id: @guide.id), :class => "button is-warning"%></p>
<br>
<p><%= link_to "Back", main_index_path, :class => "button is-primary"%></p>