<h1><%=@guide.name%></h1>


<p><%= "Phone Number: #{@guide.phone_number}" %></p>
<p><%= "City: #{@guide.city}" %></p>
<p><%= "Country: #{@guide.country}" %></p>
<p><%= "Price: #{@guide.cost}" %></p>

<p><%= link_to 'Back', main_index_path%></p>