<h1 class='title is-1'><%=@guide.name %><%= " #{emoji_flag_for_country(@guide.country)}" %></h1>

<table class="table is-hoverable">
  <tbody>
    <tr>
      <th>Phone Number</th>
      <td><%= "#{number_to_phone(@guide.phone_number, country_code: country_code(@guide.country), delimiter: " ")}" %></td>
    </tr>
    <tr>
      <th>City</th>
      <td><%= "#{@guide.city}" %></td>
    </tr>
    <tr>
      <th>Country</th>
      <td><%= "#{@guide.country}" %></td>
      <td></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><%= "$#{@guide.cost}" %></td>
    </tr>
  </tbody>
</table>
<p><%= link_to "Book", new_guide_booking_path(guide_id: @guide.id), :class => "button is-warning"%></p>
<br>
<p><%= link_to 'Add a review', new_review_path(guide: @guide), :class => "button is-link" %></p><br>
<div>
  <h4 class="is-size-3">Reviews</h4>
  <div class="card">
  <% if @reviews %>
    <% @reviews.each do |review| %>
      <header class="card-header">
        <p class="card-header-title">
        <%= review.user.name %>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <%= review.comment%>
        </div>
      </div>
    <%end%>
  <%end%>
</div>
</div>
<br>
<p><%= link_to "Back", main_index_path, :class => "button is-primary"%></p>